* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: 10px auto;
    background-color: burlywood;
}
.customer{
    background-color: burlywood;
}
.employee{
    background: beige;
}
.customer_management{
    background: cadetblue;
}